/*
pac man font source http://www.classicgaming.cc/classics/pac-man/fonts
COLORS
pac yellow = #FFFF01
teal #82B9C0 rgb(130, 185, 192)
red #C7402E rgb(199, 64, 46)
light pac blue: #1532BC
*/

@font-face {
    font-family: "joystix";
    src: url("../css/Joystix.TTF") format('truetype');
}

@font-face {
    font-family: "pac-font";
    src: url("../css/pac-font.TTF") format('truetype');
}

body {
  background-color: black;
}

/* only exists to capture keybindings better */
#game-container {
  /* outline-color: red;
  outline-style: solid;
  outline-width: 10px; */
}

#canvas-container {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  /* outline-color: #1532BC;
  outline-style: solid;
  outline-width: 2px; */
}
canvas {
  padding: 5px;
  outline: none; // prevents outline when gets focus
  /* outline-color: #1532BC;
  outline-style: solid;
  outline-width: 2px; */
}

#clock {
  font-size: 28px;
}

.title-div {
  width: 1264px;
  display: block;
  font-family: "pac-font";
}

#title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #FFFF01;
  /*text-shadow: x-offset y-offset blur-radius color|none|initial|inherit;*/
  text-shadow: 3px 3px 1px rgba(225, 64, 46, 0.8),
              -3px -3px 1px rgba(120, 200, 192, 0.8);
}

.main-row {
  display: inline-flex;
  color: blue;
  font-family: "joystix";
}

.left-col, .right-col {
  text-align: center;
  width: 260px;
  color: #1532BC;
}

#score {
  font-size: 28px;
  color: #FFFF01;
}

.label {
  font-size: 30px;
}

/*
↑	&#9650;	UPWARDS ARROW
←	&#x25c0;LEFTWARDS ARROW
↓	&#9660;	DOWNWARDS ARROW
→ &#x25B6;	RIGHTWARDS ARROW
*/

.keycaps {
  margin-top: 16px;
  display: inline-block;
  margin-bottom: 30px;
}
.key {
  text-align: center;
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-color: blue;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  font-family: "Segoe UI Symbol";  /* need this just for IE left and right arrow unicode to work */
}
th.key p {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

#start-group {
  margin-top: 40px;
}
#start-btn {
  width: 140px;
  height: auto;
}

.debug-container {
  margin-top: 50px;
}

.pixel-window {
  margin: 0px auto;
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,250,1);
  border-color: grey;
  border-style: outset;
  border-width: 4px;
}


/* BONUS ROW */
/* BONUS ROW */
/* BONUS ROW */
.bonus-row {
  width: 1250px;
  height: 50px;
  display: block;
  /* outline-color: red;
  outline-style: solid;
  outline-width: 2px; */
}
.bonus-item {
  display: inline-flex;
  height: 45px;
  width: 45px;
  background-size: contain;
  background-repeat: no-repeat;
}
.pac-life {
  /* outline-color: #1532BC;
  outline-style: solid;
  outline-width: 1px; */
  /* background-image: url("../img/pac.png"); */
}
#life1 {
  margin-left: 320px;
}
#life2, #life3, #life4, #life5 {
  margin-left: 2px;
}
.fruit {
  /* outline-color: red;
  outline-style: solid;
  outline-width: 1px; */
}
#cherry {
  margin-left: 350px;
  /* background-image: url("../img/cherry.png"); */
}

/*reuseable classes*//*reuseable classes*//*reuseable classes*/
/*reuseable classes*//*reuseable classes*//*reuseable classes*/
/*reuseable classes*//*reuseable classes*//*reuseable classes*/

.lg-text {
  font-size: 24px;
  color: #FFFF01;
}

.green-out {
  outline-color: green;
  outline-style: solid;
  outline-width: 1px;
}
.red-out {
  outline-color: red;
  outline-style: solid;
  outline-width: 1px;
}
